.music {
  max-width: 50rem;
  margin: 0 auto;
  padding-left: 0;
  width: 50%;
  transition: all 0.5s ease;
  &.active {
    width: 80%;
    padding-left: 20rem;
  }
}

@import "./song";
@import "./player";
@import "./nav";