.music {
  margin: auto;
  max-width: 50rem;
  padding-left: 0;
  transition: all .5s ease;
  &.active {
    width: 80%;
    padding-left: 20rem;
  }
}

@import "./song";
@import "./player";
@import "./nav";