.player {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  .time-ctrl {
    display: flex;
    input {
      flex-basis: 80%;
    }
    p {
      flex-basis: 10%;
      padding: 1rem;
    }
  }
  .play-ctrl {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 15rem;
    svg {
      cursor: pointer;
    }
  }
}

[type=range] {
  
}