.player {
  min-height: 30vh;
  min-height: calc(var(--vh, 1vh) * 30);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  .time-ctrl {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    .track {
      overflow: hidden;
      flex-basis: 80%;
      height: 1rem;
      border-radius: 1rem;
      position: relative;
      input {
      cursor: pointer;
        width: 100%;
        background: transparent;
      }
      .animate-track {
        width: 100%;
        height: 100%;
        background-color: rgb(230, 230, 230);
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(0%);
        pointer-events: none;
      }
    }
    p {
      padding-left: .75rem;
      padding-right: .75rem;
      flex-basis: 10%;
    }
  }
  .play-ctrl {
    width: 50%;
    margin:  auto;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    svg {
      cursor: pointer;
    }
  }
}

input[type=range] {
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
  }
  
}
input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
}


